@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color: #ADC178;
}
.col{
    background-color:black;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}