   
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color: #ADC178;;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color:white;
}
.col{
    background-color:white; 
}
.col-4{
    background-color: white; 
}
.col-8{
    background-color: white; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}
.btn-primary{
 color: white;
 background-color: #48552B;
 border-color:#48552B;
 font-family: 'Josefin Sans', sans-serif;
}
h2{
    font-family: 'Josefin Sans', sans-serif; 
}